---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Compétences" />
		<p>
			Voici un aperçu de mes principales compétences techniques. J'ai une expertise en développement web et mobile, avec une forte maîtrise des technologies modernes comme React.js, Node.js, Flutter, et bien d'autres. J'ai également une solide compréhension des bases de données, des systèmes embarqués, ainsi que des pratiques de développement logiciel. 

		</p>
	</div>
</section>
