---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/profile-pic.png"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="À propos de moi" />
			<p class="about__text">
				Je suis Sana Chouikhi, ingénieure en informatique, spécialisée dans le développement web et mobile. J'aime relever des défis techniques et créer des solutions innovantes. 
				En dehors du travail, je m'intéresse à la technologie, le sport, et les voyages.
			
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
