---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="ChouikhiSana">
	<div class="terminal__skills">
	  <h2>Mes compétences</h2>
	  <div class="terminal__skills__container">
		<TerminalIcon src="/assets/html.svg" color="#E34F26" name="HTML" />
		<TerminalIcon src="/assets/javascript.svg" color="#F7DF1E" name="JavaScript" />
		<TerminalIcon src="/assets/typescript.svg" color="#3178C6" name="TypeScript" />
		<TerminalIcon src="/assets/css.svg" color="#1572B6" name="CSS" />
		<TerminalIcon src="/assets/bootstrap.svg" color="#563D7C" name="Bootstrap" />
		<TerminalIcon src="/assets/tailwind.svg" color="#38B2AC" name="Tailwind CSS" />
		<TerminalIcon src="/assets/react.svg" color="#00D1FF" name="React" />
		<TerminalIcon src="/assets/react.svg" color="#61DAFB" name="React Native" />
		<TerminalIcon src="/assets/Flutter-2.svg" color="#61DAFB" name="Flutter" />
		<TerminalIcon src="/assets/vue.svg" color="#4FC08D" name="Vue" />
		<TerminalIcon src="/assets/wordpress.svg" color="#21759B" name="WordPress" />
		<TerminalIcon src="/assets/angular.svg" color="#DD0031" name="Angular" />
		<TerminalIcon src="/assets/nodejs.svg" color="#339933" name="Node.js" />
		<TerminalIcon src="/assets/mongodb.svg" color="#47A248" name="MongoDB" />
		<TerminalIcon src="/assets/mysql.svg" color="#4479A1" name="MySQL" />
		<TerminalIcon src="/assets/kotlin.svg" color="#7F52FF" name="Kotlin" />
		<TerminalIcon src="/assets/npm.svg" color="#CB3837" name="NPM" />
	  </div>
	</div>
  </Terminal>